# Packages #
############
*.tar
*.tar.gz
*.tar.bz2

# PYC #
#######
*.pyc

# externals #
#############
SusHi*
2HDMC*

# Scans #
#########
Scan/*.in
Scan/*.out
*.out_murdep
*.dat
*.log

# tmp files #
#############
*.swp

# 2HDMC output
##############
*.log
*.out

# png, pdf
#########
*.png
*.pdf
